Repository Team-Organization-Deathmatch/harbinger-, pull requests merged in 2020-08, with the labels that each got.

#1 "git testing day 1"
  server/server.js
Labels: enhancement

#8 "Added bing search functionality, retrieiving responses via postman"
  .gitignore
  package-lock.json
  package.json
  server/azure.js
  server/server.js
Labels: enhancement

#7 Database
  .env
  package-lock.json
  package.json
  server/db/database.js
  server/index.js
  server/server.js
Labels: enhancement

#13 "Google login successful to a new route"
  package-lock.json
  package.json
  server/app.js
  server/db/database.js
  server/passport-setup.js
Labels: server

#12 Began front-end work/organized routes/configured webpack/installed client-side dependencies.
  client/dist/bundle.js
  client/dist/index.html
  client/src/index.jsx
  package.json
  server/app.js
  server/db/database.js
  server/home.js
  server/routes/home.js
  server/routes/login.js
  server/routes/profile.js
  server/routes/review.js
  server/routes/search.js
  webpack.config.js
Labels: client, database, server

#15 Deleted bundle.js
  client/dist/bundle.js
Labels: bug, client

#16 Deleted package-lock
  package-lock.json
Labels: bug

#17 set up React and render to page
  .babelrc
  .gitignore
  client/dist/index.html
  client/src/app.jsx
  client/src/index.jsx
  package.json
  server/app.js
  webpack.config.js
Labels: client

#18 Auth branch
  package-lock.json
  server/app.js
  server/db/database.js
  server/passport-setup.js
  server/routes/home.js
  server/routes/login.js
  server/routes/profile.js
  server/routes/review.js
  server/routes/search.js
Labels: database, server

#19 Added Eslint and bringing back package-lock.json for eslint sake.
  .eslintrc.js
  client/src/app.jsx
  client/src/homepage.jsx
  package-lock.json
  package.json
  server/app.js
  server/azure.js
  server/index.js
  server/passport-setup.js
  server/routes/home.js
  server/routes/login.js
  server/routes/profile.js
  server/routes/review.js
  server/routes/search.js
  webpack.config.js
Labels: documentation, enhancement

#20 Working on React Route and creating Components
  client/dist/index.html
  client/src/app.jsx
  client/src/homepage.jsx
  client/src/login.jsx
  client/src/profile.jsx
  client/src/reviews.jsx
  client/src/search.jsx
  package-lock.json
  server/app.js
Labels: client

#24 "started fleshing out database functions for review injection"
  server/db/database.js
  server/routes/review.js
  server/routes/search.js
Labels: database

#22 react-hook-form and forms for reviews.
  client/src/app.jsx
  client/src/reviews.jsx
  package-lock.json
  package.json
Labels: client

#23 React hooks/React routes/Rendering Pages
  client/src/app.jsx
  client/src/homepage.jsx
  client/src/index.jsx
  client/src/login.jsx
  client/src/search.jsx
  package-lock.json
  package.json
  server/app.js
  server/db/database.js
  server/passport-setup.js
Labels: client, database, enhancement, server

#27 Updated Azure pipelines
  azure-pipelines.yml
Labels: bug, deployment

#28 Profile client
  client/src/app.jsx
  client/src/homepage.jsx
  client/src/profile.jsx
  server/app.js
  server/db/database.js
  server/routes/profile.js
Labels: client, database, in progress, server

#29 Search page branch
  client/src/homepage.jsx
  client/src/search.jsx
  client/src/testData.js
  server/db/database.js
  server/routes/search.js
Labels: client, in progress

#30 Review branch
  client/src/reviews.jsx
  server/db/database.js
  server/routes/review.js
Labels: client, database, server

#33 Home profile
  client/src/homepage.jsx
  server/db/database.js
  server/routes/review.js
Labels: client, database, server

#32 Search db branch
  client/src/search.jsx
  client/src/testData.js
  server/db/database.js
  server/routes/search.js
Labels: client, database

#35 "Fixed bug fix with searching and not finding keyword"
  client/src/search.jsx
Labels: bug

#36 a couple small updates
  .gitignore
  server/db/database.js
Labels: database

#37 Env vars for DB and deploy files for Gcloud
  .gcloudignore
  app.yaml
  server/db/database.js
Labels: database, deployment

#38 "Added dummy buttons to render along websites and reviews
  client/src/search.jsx
Labels: client

#39 Search to review branch
  client/src/reviews.jsx
  client/src/search.jsx
  server/db/database.js
  server/routes/review.js
Labels: client, database, enhancement

#40 Homepage
  client/src/homepage.jsx
  server/db/database.js
  server/routes/review.js
Labels: client, database, server

#41 Changed image format redirect routes.
  client/src/homepage.jsx
  client/src/profile.jsx
Labels: client, css

#44 "addeded userProfile - calling axios successfully"
  client/src/app.jsx
  client/src/homepage.jsx
  client/src/profile.jsx
  client/src/reviews.jsx
  client/src/search.jsx
  client/src/userProfile.jsx
  server/db/database.js
  server/routes/home.js
  server/routes/profile.js
  server/routes/review.js
  server/routes/userProfile.js
Labels: client

#43 Home renovations
  README.md
  client/src/homepage.jsx
Labels: client, documentation

#45 Changed Profile Routes and Bugs with reviews/keywords
  client/src/app.jsx
  client/src/homepage.jsx
  client/src/search.jsx
  server/app.js
Labels: bug, client

#47 User profile branch created, successfully rendering
  client/src/testData.js
  client/src/userProfile.jsx
  server/db/database.js
  server/routes/userProfile.js
Labels: client, database, server

#46 logout button works and redirects to google auth page
  client/src/profile.jsx
  client/src/reviews.jsx
  server/app.js
Labels: client

#48 got reviews rendering on user profile, but not done
  client/src/profile.jsx
  server/routes/userProfile.js
Labels: client

#49 Added review list generation for websites dynamically.
  client/src/reviews.jsx
  server/db/database.js
  server/routes/review.js
  server/routes/search.js
Labels: client, database, enhancement

#50 Styles for Homepage & Search & logo rendered
  client/src/harbinger.png
  client/src/homepage.jsx
  client/src/reviews.jsx
  client/src/search.jsx
  package-lock.json
  package.json
Labels: css

#52 Polished style for Profile and reviews in Homepage.
  client/src/homepage.jsx
  client/src/profile.jsx
Labels: css

#51 Readme branch
  README.md
  client/src/profile.jsx
  server/azure.js
  server/db/database.js
  server/index.js
  server/routes/home.js
  server/routes/profile.js
  server/routes/review.js
  server/routes/userProfile.js
Labels: database, documentation, server

#53 getting images to come from DB into the front-end for user reviews
  client/src/userProfile.jsx
  server/db/database.js
Labels: client, database

#54 Made some updates and tweaks to front-end functionality
  client/src/homepage.jsx
  client/src/profile.jsx
  client/src/userProfile.jsx
  server/db/database.js
  server/routes/profile.js
  server/routes/userProfile.js
Labels: bug, client, database

#55 Styles for profile reviews & favicon
  client/dist/index.html
  client/src/app.jsx
  client/src/homepage.jsx
  client/src/profile.jsx
  client/src/reviews.jsx
  client/src/search.jsx
  client/styles/harbinger.png
Labels: css

#56 Documentation branch
  README.md
  server/routes/review.js
  server/routes/search.js
Labels: documentation

#57 Bugfix logout
  README.md
  client/src/homepage.jsx
  client/src/reviews.jsx
  client/src/search.jsx
  client/src/userProfile.jsx
  server/db/database.js
  server/routes/search.js
Labels: client, database, server

#60 Review formats made for almost all pages with reviews
  client/src/homepage.jsx
  client/src/profile.jsx
  client/src/reviews.jsx
  client/src/search.jsx
Labels: css

#62 Reviews and keywords styles fully rendered.
  client/src/homepage.jsx
  client/src/reviews.jsx
  client/src/search.jsx
Labels: css

#63 changes to DB in readme
  README.md
Labels: documentation
